In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv("Movies.csv")
movies_df.head()

,movie_ID,Title,Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings_df = pd.read_csv("ratings.csv")
ratings_df.head()

     Column  user_ID  movie_ID  rating   timestamp
0  15147342   104679       370     4.0  1316200244
1    658718     4374      1124     4.0   962918551
2   7356723    50749      8798     3.5  1349529481
3  16533607   114406     55031     0.5  1290917884
4   7914912    54510      2987     3.0  1209265378

In [5]:
merge_table = pd.merge(ratings_df, movies_df, on="movie_ID")
merge_table

,Column,user_ID,movie_ID,rating,timestamp,Title,Genres
0,15147342,104679,370,4.0,1316200244,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
1,6553742,45058,370,4.0,838727919,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
2,5177168,35444,370,4.0,840209053,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
3,937179,6291,370,2.0,1036037895,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
4,6842313,47111,370,3.0,839764375,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
5,19597276,135667,370,2.5,1084780607,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
6,2955464,20100,370,3.0,854376708,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
7,1146629,7817,370,0.5,1111430052,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
8,1130287,7714,370,3.5,1212580033,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
9,14521494,100356,370,0.5,1374933915,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
10,15054579,103973,370,1.5,1207634755,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
11,13341599,92208,370,4.0,848487809,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
12,5353932,36743,370,3.0,875314270,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
13,9957898,68809,370,4.0,852483291,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
14,19234193,133094,370,3.0,837944988,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
15,16299583,112843,370,1.0,974926285,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
16,37396,292,370,3.0,841300723,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
17,5782963,39800,370,2.0,949724845,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
18,2245548,15252,370,3.0,846169882,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
19,5399439,37096,370,3.5,1094251834,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
20,6286367,43208,370,2.5,1317007032,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
21,12485362,86262,370,5.0,854565940,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
22,5276618,36192,370,2.0,840397672,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
23,12611719,87143,370,4.0,1424092313,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
24,15518810,107324,370,2.0,1046891246,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
25,7810694,53887,370,4.0,838977968,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
26,17635253,121980,370,3.0,1172703354,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
27,298637,2047,370,4.0,1073459894,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
28,13687915,94565,370,1.0,1024520534,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
29,14911778,103027,370,1.5,1098109179,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy
...,...,...,...,...,...,...,...
999970,11528438,79570,131066,3.0,1427654064,Ronal the Barbarian (2011),Adventure|Animation|Fantasy
999971,16412122,113624,6384,5.0,1144296697,Love the Hard Way (2001),Crime|Drama|Romance
999972,17093506,118205,64897,3.0,1230162557,Mr. Wu (1927),Drama
999973,7268374,50168,6622,0.5,1202082672,Carnages (a.k.a. Carnage) (2002),Drama
999974,6521327,44813,113130,4.0,1419647464,Sharktopus vs. Pteracuda (2014),Sci-Fi
999975,2889122,19590,85763,4.0,1422049281,Beneath Hill 60 (2010),Drama|War
999976,934678,6256,71973,3.5,1349306088,Outsiders (Ceddo) (1977),Drama
999977,399759,2725,73170,4.0,1289084549,Aaja Nachle (2007),Comedy|Musical|Romance
999978,3286896,22436,113112,0.5,1407074975,Video Games: The Movie (2014),Documentary
999979,5549223,38160,63758,2.0,1335186061,Casanova '70 (1965),Comedy|Drama
999980,18952336,131169,97792,2.0,1351366759,Graduation Day (1981),Horror
999981,11698028,80771,47904,2.0,1261204673,"Notti bianche, Le (White Nights) (1957)",Drama|Romance
999982,9137415,63147,90549,3.5,1319520800,American Son (2008),Drama|Romance|War
999983,1294134,8807,93768,3.0,1355172466,Bending the Rules (2012),Action|Drama
999984,16338785,113081,65762,3.0,1240866054,Soup to Nuts (1930),Comedy|Romance
999985,124283,843,109569,1.0,1422134058,3 Days to Kill (2014),Action|Crime|Drama
999986,6669660,45928,58617,1.5,1237477277,Black Dawn (2005),Action
999987,18799091,130193,102941,3.0,1424789755,Special Forces (Forces sp��ciales) (2011),Action|Drama|War
999988,10551768,72983,5709,3.5,1069143473,"Amateur, The (1981)",Crime|Thriller
999989,16814915,116302,53835,5.0,1222080712,Journey to Italy (Viaggio in Italia) (Voyage t...,Drama|Romance
999990,10723330,74142,128812,5.0,1424548672,Drew: The Man Behind the Poster (2013),Documentary
999991,6653478,45814,91351,4.0,1325555221,Asterix and the Big Fight (Ast��rix et le coup...,Adventure|Animation|Children|Comedy
999992,7879979,54305,79311,3.5,1280471991,Hamster Factor and Other Tales of Twelve Monke...,Documentary
999993,11806064,81487,26728,3.5,1301942325,Guilty by Suspicion (1991),Drama
999994,14835848,102497,81704,4.0,1290066467,Lourdes (2009),Drama
999995,13508915,93338,75818,4.5,1275269379,Afghan Star (2009),Documentary
999996,6045064,41613,96563,4.0,1391200854,Paradise Lost 3: Purgatory (2011),Documentary
999997,11758786,81186,32799,4.0,1276932222,Maidens in Uniform (M�_dchen in Uniform) (1931),Drama|Romance
999998,14917871,103068,126775,3.0,1422495806,The Blue Room (2014),Crime
999999,11462636,79159,54020,3.0,1232413722,McQ (1974),Action|Crime|Drama

In [6]:
dummy_df = pd.get_dummies(aisle_df.aisle)dummy_df = pd.concat([merge_table, dummy_df], axis=1)
dummy_df = aisle_dummy_df.drop(['movie_ID'], axis=1)
dummy_df.head()

SyntaxError: invalid syntax (<ipython-input-6-da12830db748>, line 1)