In [7]:
import pandas as pd

In [9]:
movies_df = pd.read_csv("Movies.csv")
movies_df.head()

,movie_ID,Title,Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
ratings_df = pd.read_csv("ratings.csv")
ratings_df.head()

     Column  user_ID  movie_ID  rating   timestamp
0  15147342   104679       370     4.0  1316200244
1    658718     4374      1124     4.0   962918551
2   7356723    50749      8798     3.5  1349529481
3  16533607   114406     55031     0.5  1290917884
4   7914912    54510      2987     3.0  1209265378